.outer {
    background-color: aqua;
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: radial-gradient(circle, #0000 15%, #000f 78%);
}

h1 {
    font-size: 25rem;
}

.inner {
    background-color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 110px;
    top: 50px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
}